/* ======================================= */
/* ========|| Custom Properties ||======== */
/* ======================================= */
:root {
  --clr-primary-800: hsl(292, 42%, 14%);
  --clr-primary-300: hsl(275, 100%, 97%);

  --clr-secondary: hsl(292, 16%, 49%);

  --clr-neutral-100: hsl(0, 0%, 100%);

  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;

  --ff-base: "Work Sans", sans-serif;

  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-250: 1.25rem;
  --spacing-300: 1.5rem;
  --spacing-350: 1.75rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.75rem;
  --spacing-800: 6.25rem;
  --spacing-900: 10rem;
  --spacing-1000: 15rem;
}
/* ======================================= */
/* ===============|| Reset ||============= */
/* ======================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  vertical-align: middle;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  overflow-wrap: break-word;
  /* max-width: 75ch; */
  text-wrap: pretty; /*prevent alone words*/
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
  text-wrap: balance;
}

/* ======================================= */
/* ========|| General Styling ||========== */
/* ======================================= */
body {
  font-family: var(--ff-base);
  background-color: var(--clr-primary-300);
  position: relative;
  
}
body::after {
  position: absolute;
  content: "";
  background: url(assets/images/background-pattern-desktop.svg) top;
  height: 13em;
  top: 0;
  left: 0;
  right: 0;
  z-index: -100;
}
h1 {
  font-size: 48px;
}
/* ======================================= */
/* ==========|| Header Style ||=========== */
/* ======================================= */
.faq-header {
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
}
.faq-header::before {
  content: url(assets/images/icon-star.svg);
}

/* ======================================= */
/* ===========|| Main Style ||============ */
/* ======================================= */
.faq-section {
  background-color: var(--clr-neutral-100);
  border-radius: 1em;
  padding: var(--spacing-400);
  max-width: 37.5rem;
}
.faq-item {
  display: flex;
  align-items: top;
  justify-content: space-between;
  cursor: pointer;
  gap: 2em;
  padding-block: var(--spacing-200);
}
.faq-item:not(:first-child) {
  border-top: 0.0625rem solid var(--clr-primary-300);
}
.faq-item::after {
  content: url(assets/images/icon-plus.svg);
}
.faq-question {
  font-weight: var(--fw-medium);
  font-size: 18px;
}
.faq-answer {
  margin-top: 1.5em;
  color: var(--clr-secondary);
  display: none;
}
.active .faq-answer{
  display: block;
}
/* =============|| Buttons ||============= */

/* =============|| Inputs ||============= */

/* ======================================= */
/* ==========|| footer Style ||=========== */
/* ======================================= */

/* ======================================= */
/* ============|| Utilities ||============ */
/* ======================================= */

/* ======================================= */
/* ===========|| Breakpoints ||=========== */
/* ======================================= */

/* button shadow  left-right/ down-up/ blur/ spread */
/* box-shadow: inset 0rem -0.125rem 0rem .0625rem rgba(0,0,0,0.4); */
